table
{
    width: 90%;
    height: 90%;
    border: 8px solid black;
    margin: 5%;
}

body
{
    background-color: green;
}

.img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.button {
    background-color: rgb(156, 243, 255);
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15vw;
    font-family: "Comic Sans MS";
    width: 100%;
  }
